* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  display: flex;
  flex: 1;
  height: 100%;
  overflow: hidden;
}

.c-body {
  position: relative;
  width: 90vw;
  margin: 0 auto;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  background: #EEEEEE;
  padding-top: 7vw;
  overflow-y: auto;
}

.l-filter {
  position: fixed;
  width: 90vw;
  top: 0;
  background: #DDD;
  display: flex;
  flex-direction: row;
  padding: 1vw 3vw 1vw 1vw;
  box-sizing: border-box;
  box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.3);
}
/* .l-filter .l-department {
  display: flex;
  flex-direction: column;
} */
.l-department{
  display: none;
}
.l-filter .l-department .c-department {
  display: flex;
  flex-shrink: 0;
  position: relative;
}

/* .l-filter .l-department .c-department.active {
  display: flex;
} */


.l-filter .l-department .c-department + .c-department {
  margin-top: 1vw;
  padding-top: 1vw;
  border-top: 1px dashed #333;
}
.l-filter .c-department__name {
  font-size: 8px;
  font-weight: bold;
  padding: 5px;
  background: gray;
  color: white;
  border-radius: 0.25vw;
  flex: none;
  height: 2vw;
  width: 10vw;
  margin-right: 1vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.l-filter .c-department__name.active {
  background: #333;
}

.l-filter .c-department__name:hover {
  overflow: visible; 
  white-space: normal; 
  width: auto;
}
.l-filter a.filter__btn {
  text-decoration: none;
  flex: none;
  position: fixed;
  font-size: 1vw;
  display: block;
  border-radius: 2px;
  width: 2vw;
  height: 2vw;
  right: 6vw;
  top: 1.25vw;
  z-index: 999;
  text-align: center;
  line-height: 2vw;
  outline: none;
  border: none;
  cursor: pointer;
  background: red;
  color: white;
}
.l-filter a.filter__btn:hover {
  background: aqua;
  color: #333;
}
.l-filter .c-subject {
  display: flex;
  /* flex: 1; */
  flex-wrap: wrap;
  max-height: 4vh;
  /* max-height: 6vh; */
  overflow-y: hidden;
  position: relative;
}
.l-filter .c-subject .c-department__btn-expand {
  font-size: 8px;
  display: none;
  z-index: 3;
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 5px;
  background-color: red;
  color: white;
}
.l-filter .c-subject .c-department__btn-show {
  display: block;
  font-size: 1vw;
}
.l-filter .c-subject--showall{
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  max-height: auto !important;
  overflow: none !important;
}

.l-filter .c-subject--showall .c-subject__name {
  border: 1px solid #CCC;
  font-size: 1vw;
  margin-right: 0.5vw;
  margin-bottom: 0.5vw;
  padding: 1vw;
  border-radius: 0.25vw;
}

.l-filter .c-subject .c-subject__name {
  border: 1px solid #CCC;
  font-size: 1vh;
  margin-right: 0.5vw;
  margin-bottom: 0.5vw;
  padding: 1vh;
  border-radius: 0.25vw;
}

.l-filter .c-subject .c-subject__name:hover {
  cursor: pointer;
  background: skyblue;
  color: white;
}
.l-filter .c-subject .c-subject__name.active {
  background: white;
  color: blueviolet;
  font-weight: bold;
}
.l-filter .c-subject--showall .c-subject__name.active {
  background: white;
  color: blueviolet;
  font-weight: bold;
}
.l-filter .c-subject .c-subject__name.active:hover {
  cursor: default;
}
.l-filter .c-subject .more-less {
  border: 1px solid transparent;
  font-size: 1vw;
  padding: 1vw;
  font-weight: bold;
}
.l-filter.expanded {
  padding-right: 3vw;
  box-shadow: 0 0 2vw rgba(0, 0, 0, 0.3);
  max-height: 100%;
  overflow-y: auto;
  flex-wrap: wrap;
}

.c-filtered__student {
  padding-left: 1vw;
  padding-right: 1vw;
}
.c-filtered__student .l-filtered__student {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}
.c-filtered__student .l-filtered__student li {
  background: white;
  border: 1px solid #CCC;
  /* display: block; */
  float: left;
  list-style-type: none;
  padding: 1vw;
  margin-right: 1vw;
  margin-bottom: 1vw;
}
.c-filtered__student .l-filtered__student li > span {
  display: block;
  line-height: 1.6;
  font-weight: bold;
  color: #444;
}
.c-filtered__student .l-filtered__student li > span.name {
  color: #333;
  font-size: 1vw;
  text-transform: uppercase;
}
.c-filtered__student .l-filtered__student li > span .value {
  font-weight: normal;
}

/* Stretch Goal # 2 Tooltip */
/*
.c-department-name-tooltip{
    background:black;
    position: absolute;
    top: 0;
    padding: .25vw .5vw;
    border-radius: .25vw;
    &:before{
        content: '';
        display: block;
        position: absolute;
        bottom: -.6vw;
        left: calc(~"50% - .4vw");
        width: 0; 
        height: 0; 
        border-left: .8vw solid transparent;
        border-right: .8vw solid transparent;
        border-top: .8vw solid black;
    }
    .tooltip-content{
        color: white;
        font-size: .7em;
        line-height: 1.2;
    }
}
*//*# sourceMappingURL=style.css.map */

.hide {
  display: none;
}

.show {
  display: block;
}

.c-subject {

}